<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/lora_aprs_tracker/' | relative_url }}">LoRa APRS Tracker</a></li>
        <li><a href="{{ '/lora_aprs_digi/' | relative_url }}">LoRa APRS Digi/iGate</a></li>
        <li><a href="{{ '/lora_aprs_mobile_app/' | relative_url }}">LoRa APRS Mobile App</a></li>
      </ul>
    </nav>
  </div>
</header>
