<nav class="sidebar-nav">
    <h3>LoRa APRS Tracker</h3>
    <ul>
        <li>
            <a href="{{ '/lora_aprs_tracker/index/' | relative_url }}">Home</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/faq/' | relative_url }}">FAQ</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/installation/' | relative_url }}"
                >Installation</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/updating/' | relative_url }}"
                >Updating</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/configuration/' | relative_url }}"
                >Configuration</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/bluetooth/' | relative_url }}"
                >Bluetooth</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/smart-beacon/' | relative_url }}"
                >Smart Beacon</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/telemetry/' | relative_url }}"
                >Telemetry</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/status/' | relative_url }}"
                >Status</a
            >
        </li>
    </ul>
</nav>
