<nav class="sidebar-nav">
    <h3>LoRa APRS Digi/iGate</h3>
    <ul>
        <li>
            <a href="{{ '/' | relative_url }}">Go back</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/index/' | relative_url }}"
                >Introduction</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/faq/' | relative_url }}">FAQ</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/installation/' | relative_url }}"
                >Installation</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/configuration/' | relative_url }}"
                >Configuration</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/updating/' | relative_url }}"
                >Updating</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/telemetry/' | relative_url }}"
                >Telemetry</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/query/' | relative_url }}"
                >Query Messages</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/tnc-kiss/' | relative_url }}">TNC</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/status-packets/' | relative_url }}"
                >Status Packets</a
            >
        </li>
    </ul>
</nav>
