<nav class="sidebar-nav">
    <h3>LoRa APRS Digi/iGate</h3>
    <ul>
        <li>
            <a href="{{ '/' | relative_url }}">Go back</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/index/' | relative_url }}"
                >Introduction</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/faq/' | relative_url }}">FAQ</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/installation/' | relative_url }}"
                >Installation</a
            >
        </li>
    </ul>
</nav>
