<nav class="sidebar-nav">
    <h3>LoRa APRS General</h3>
    <ul>
        <li>
            <a href="{{ '/' | relative_url }}">Go back</a>
        </li>
        <li>
            <a href="{{ '/general/index/' | relative_url }}">General Info</a>
        </li>
        <li>
            <a href="{{ '/general/support/' | relative_url }}"
                >Getting Support</a
            >
        </li>
        <li>
            <a href="{{ '/general/flashing/' | relative_url }}">Flashing</a>
        </li>
    </ul>
</nav>
