<nav class="sidebar-nav">
    <h3>LoRa APRS Projects</h3>
    <ul>
        <li>
            <a href="{{ '/general/index/' | relative_url }}">General</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/index/' | relative_url }}"
                >LoRa APRS Tracker
                <span class="version-badge">{{ site.data.versions.tracker.version }}</span></a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/index/' | relative_url }}"
                >LoRa APRS Digi/iGate
                <span class="version-badge">{{ site.data.versions.digi.version }}</span></a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/index/' | relative_url }}"
                >LoRa APRS Mobile App
                <span class="version-badge">{{ site.data.versions.mobile_app.version }}</span></a
            >
        </li>
    </ul>
</nav>
