<nav class="sidebar-nav">
    <h3>LoRa APRS Projects</h3>
    <ul>
        <li>
            <a href="{{ '/lora_aprs_tracker/index/' | relative_url }}"
                >LoRa APRS Tracker</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_digi/index/' | relative_url }}"
                >LoRa APRS Digi/iGate</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/index/' | relative_url }}"
                >LoRa APRS Mobile App</a
            >
        </li>
    </ul>
</nav>
