<nav class="sidebar-nav">
    <h3>LoRa APRS Mobile App</h3>
    <ul>
        <li>
            <a href="{{ '/' | relative_url }}">Go back</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/index/' | relative_url }}"
                >Introduction</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/main_screen/' | relative_url }}"
                >Main Screen</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/settings/' | relative_url }}"
                >Settings</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/messages/' | relative_url }}"
                >Messages</a
            >
        </li>
        <li>
            <a
                href="{{ '/lora_aprs_mobile_app/recent-stations/' | relative_url }}"
                >Recent Stations</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_mobile_app/last-frames/' | relative_url }}"
                >Last frames</a
            >
        </li>
        <li>
            <a
                href="{{ '/lora_aprs_mobile_app/notifications/' | relative_url }}"
                >Notifications</a
            >
        </li>
    </ul>
</nav>
