<nav class="sidebar-nav">
    <h3>LoRa APRS Tracker</h3>
    <ul>
        <li>
            <a href="{{ '/' | relative_url }}">Go back</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/index/' | relative_url }}"
                >Introduction</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/supported-boards/' | relative_url }}"
                >Supported Boards</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/faq/' | relative_url }}">FAQ</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/installation/' | relative_url }}"
                >Installation</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/updating/' | relative_url }}"
                >Updating</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/configuration/' | relative_url }}"
                >Configuration</a
            >
        </li>
        <li>
            <a
                href="{{ '/lora_aprs_tracker/button-functions/' | relative_url }}"
                >Button Functions</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/display/' | relative_url }}"
                >Display</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/bluetooth/' | relative_url }}"
                >Bluetooth</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/smart-beacon/' | relative_url }}"
                >Understanding Smart Beacon</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/geofence/' | relative_url }}"
                >Geofence</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/telemetry/' | relative_url }}"
                >Telemetry</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/menu/' | relative_url }}">Menu</a>
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/power-off-modes/' | relative_url }}"
                >Power Off Modes</a
            >
        </li>
        <li>
            <a href="{{ '/lora_aprs_tracker/status-packets/' | relative_url }}"
                >Status Packets</a
            >
        </li>
    </ul>
</nav>
